/* as8ar mn 640 */
@media (max-width: 640px) {
  .parent-Nav-Bar {
    padding: 0px 0px 10px 0px;
  }

  .Nav-bar-links li {
    padding: 0px;
    margin: 0px;
  }

  .Nav-bar-links ul {
    position: absolute;
    right: 5%;
    bottom: 30%;
  }
  .Nav-Bar-logo {
    width: 20%;
  }
  .Nav-bar-links {
    width: 69%;
  }
  .landing-img {
    margin-top: 50px;
  }
  #Intro {
    margin: 30px 0px 0px 0px;
  }
  .parent-landing {
    height: 100%;
  }
  .Landing-container {
    width: 100%;
  }
  .chef {
    padding: 15px 0px;
    width: 100%;
  }
  .chef-img::before {
    transform: translateY(13px);
  }
  .picture-container {
    width: 100%;
  }
  .detail {
    width: 100%;
  }
  .detail-icon i {
    background-color: rgb(206, 18, 18);
    padding: 10px;
  }
  .detail-text {
    width: 78%;
  }

  .contact-input div {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
  .footer-social li {
    padding: 6% 8% 0;
  }
  #SubEmail {
    width: 100%;
  }
  .news-inner button {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .inner-quickLinks li {
    width: 25vw;
  }
}

/* sm */
/* @media (max-width: 640px)
{
.parent-Nav-Bar{
padding: 0px 0px 10px 0px;
}
.Nav-bar-links li{
padding: 20px 10px 10px 10px;
margin: 0; 
}
.landing-img{
margin-top: 50px;
}
#Intro{
margin: 30px 0px 0px 0px;
}
.parent-landing{
height: 100%;
}
.Landing-container{
width: 100%;
}
.chef{ 
padding:15px 0px ;
width: 100%;
}
.chef-img::before{
transform: translateY(13px);
}
.picture-container{
width: 100%;
}
.detail{
width: 100%;
}
.detail-icon i{
background-color: rgb(206, 18, 18);
padding: 10px;
}
.detail-text{
width: 78%;
}

.contact-input div{
width: 100%;
}

.footer-container{
width: 100%;
}
#SubEmail{
width: 100%;
}
.news-inner button{
float: left;
width: 100%;
margin-top: 10px;
}
.inner-quickLinks li{
width: 25vw;
}
.footer-social li{
padding: 6% 8% 0 ;
}
} */

/* md */
@media (max-width: 768px) {
  .parent-Nav-Bar {
    padding: 0px 0px 10px 0px;
  }
  .Nav-bar-links li {
    padding: 20px 10px 10px 10px;
    margin: 0;
  }
  .landing-img {
    margin-top: 50px;
  }
  #Intro {
    margin: 30px 0px 0px 0px;
  }
  .parent-landing {
    height: 100%;
  }
  .Landing-container {
    width: 100%;
  }
  .chef {
    padding: 15px 0px;
    width: 100%;
  }
  .chef-img::before {
    transform: translateY(13px);
  }
  .picture-container {
    width: 100%;
  }
  .detail {
    width: 100%;
  }
  .detail-icon i {
    background-color: rgb(206, 18, 18);
    padding: 10px;
  }
  .detail-text {
    width: 78%;
  }

  .contact-input div {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
  #SubEmail {
    width: 100%;
  }
  .news-inner button {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .inner-quickLinks li {
    width: 25vw;
  }
  .footer-social li {
    padding: 6% 8% 0;
  }
}
/* lg */
@media (max-width: 1024px) {
  .parent-Nav-Bar {
    padding: 0px 0px 10px 0px;
  }
  .Nav-bar-links li {
    padding: 20px 10px 10px 10px;
    margin: 0;
  }
  .landing-img {
    width: 80%;
    margin-top: 50px;
  }
  #Intro {
    margin: 30px 0px 0px 0px;
  }
  .parent-landing {
    text-align: center;
    height: 100%;
  }
  .Landing-container {
    width: 100%;
  }
  .chef {
    padding: 15px 0px;
    width: 100%;
  }
  .chef-img::before {
    transform: translateY(13px);
  }
  .picture-container {
    width: 100%;
  }
  .detail {
    width: 100%;
  }
  .detail-icon i {
    background-color: rgb(206, 18, 18);
    padding: 10px;
  }
  .detail-text {
    width: 78%;
  }

  .contact-input div {
    width: 100%;
  }

  .footer-container {
    width: 100%;
  }
  #SubEmail {
    width: 100%;
  }
  .news-inner button {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  .inner-quickLinks li {
    width: 25vw;
  }
  .footer-social li {
    padding: 6% 8% 0;
  }
}
/* xl */
@media (max-width: 1280px) {
}
/* lg */
@media (max-width: 1536px) {
}
